/* Global */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
.container-a {
  width: 100vw;
  min-height: 10vh;
  color: black;
  background-color: gray;
}
.inside-text {
  padding: 5px;
}

/* header */
header {
  margin-bottom: 2.5vh;
}

/* section */
section {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
section .content-a {
  width: 50%;
  height: 100%;
  background-color: rgb(61, 219, 47);
  order: 2;
}
section .content-b {
  width: 25%;
  height: 100%;
  background-color: rgb(30, 92, 15);
  order: 1;
}
section .content-c {
  width: 25%;
  height: 100%;
  background-color: rgb(230, 230, 53);
  order: 3;
}

/* footer */

footer {
  margin-top: 2.5vh;
}
#footer-content::after {
  content: "footer";
}

/* Media queries */
/* Tablet */
@media (max-width: 768px) {
  .container-a {
    min-height: 6vh;
  }
  #footer-content::after {
    content: "footer";
  }
  section {
    height: 83vh;
  }
  section .content-a {
    width: 100%;
    height: 60%;
    order: 1;
  }
  section .content-b {
    width: 50%;
    height: 40%;
    order: 2;
  }
  section .content-c {
    width: 50%;
    height: 40%;
    order: 3;
  }
}
/* Mobile */
@media (max-width: 425px) {
  .container-a {
    min-height: 6vh;
  }
  section {
    height: 83vh;
  }
  #footer-content::after {
    content: "footer";
  }
  section {
    flex-flow: column;
  }
  section .content-a {
    width: 100%;
    height: 50%;
    order: 1;
  }
  section .content-b {
    width: 100%;
    height: 25%;
    order: 2;
  }
  section .content-c {
    width: 100%;
    height: 25%;
    order: 3;
  }
}
