/* Global */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
.container-a {
  width: 100vw;
  min-height: 12.5vh;
  color: black;
  background-color: gray;
}
.inside-text {
  padding: 5px;
}

/* header */
header {
  margin-bottom: 2.5vh;
}

/* section */
section {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}

section .content-a {
  width: 70%;
  height: 50%;
}
section .content-b {
  width: 30%;
  height: 100%;
}
section #bottom-a {
  background-color: orange;
}
section #top-a {
  background-color: red;
}
section #right {
  background-color: yellow;
}

/* footer */

footer {
  margin-top: 2.5vh;
}
#footer-content::after {
  content: "vfooter";
}

/* Media queries */
/* Tablet */
@media (max-width: 768px) {
  .container-a {
    min-height: 10vh;
  }
  #footer-content::after {
    content: "footer";
  }
  section {
    height: 75vh;
  }
  section .content-a {
    width: 50%;
  }
  section .content-b {
    width: 50%;
  }
}
/* Mobile */
@media (max-width: 425px) {
  .container-a {
    min-height: 10vh;
  }
  #footer-content::after {
    content: "footer";
  }
  section {
    flex-flow: column;
    justify-content: center;
  }
  section .content-a {
    width: 100%;
    height: 33%;
  }
  section .content-b {
    width: 100%;
    height: 33%;
  }
}
